/*==========================
          GLOBAL
==========================*/

@font-face {
  font-family: "Neometric";
  src: url(../fonts/Neometric-Regular.woff);
}

*,
*::before,
*::after {
  cursor: url("../img/cursor.png"), pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #6a4ddd;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #151418;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s all;
}

a:hover {
  color: #fff !important;
}

.container {
  width: 1400px;
  padding: 0 60px;
  margin: auto;
}

.link,
.link i {
  cursor: pointer;
  transition: 0.4s all;
}

.link:hover,
.link:hover i {
  color: #fff !important;
}

.btn-new-style {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px 25px;
  border-radius: 10px;
  background: #6a4ddd;
}

.btn-new-style:hover {
  background: #7f64e8;
}

.btn-new-style.outline {
  background: 0;
  border: 1px solid #fff;
  padding: 18px 24px;
}

.btn-new-style span {
  color: white;
  letter-spacing: 0.1;
}

.btn-new-style.outline::before,
.btn-new-style.outline::after {
  background: 0;
  border: 1px solid #fff;
  transition: 0.2s all linear;
}

.btn {
  padding: 20px 25px;
  border-radius: 10px;
  background: orange;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s all;
}

.btn:hover {
  background: rgba(177, 116, 2, 0.795);
}

.btn.purple {
  background: #6a4ddd;
  font-weight: 600;
}

.btn.purple:hover {
  background: #866bed;
}

.btn.gray {
  background: #2c303c;
  color: #9fa4b0;
  cursor: pointer;
}

.btn.gray:hover {
  color: #fff;
  background: #323746;
}

.btn.red {
  color: rgba(255, 255, 255, 0.7);
  background: #af031d;
  border: 2px solid rgba(242, 0, 37, 0.4);
}

.btn.red:hover {
  background: #d90424;
  border: 2px solid rgba(217, 4, 36, 0.4);
  color: #fff;
}

.btn.green {
  background: #2dc312;
  cursor: pointer;
}

.btn.green:hover {
  background: #32d714;
}

input,
textarea {
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  resize: none;
  background: 0;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.input .disabled {
  background: #141518 !important;
  border-color: #141518 !important;
}

input:disabled {
  color: rgba(255, 255, 255, 0.5) !important;
  background: #141518 !important;
  border-color: #141518 !important;
}

.-navigation-links {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.4);
}

.-navigation-links .fa-light.fa-angle-right {
  margin: 0 10px;
}

.-navigation-links .fa-light.fa-house-heart {
  margin-right: 5px;
}

.-navigation-links a.active {
  color: #fff;
}

/*==========================
       MODAL WINDOW
==========================*/

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  -ms-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: 0.5s all;
}

.modal-wrapper::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-wrapper .modal {
  width: 50%;
  background: rgb(29 33 40);
  border: 2px solid #242932;
  padding: 25px;
  padding-top: 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: -1;
}

.modal-wrapper.show,
.modal-wrapper .modal.show {
  opacity: 1;
  z-index: 55;
  display: block;
}

.modal-wrapper .modal .header {
  background: #242932;
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.modal-wrapper .modal .header .close {
  margin-left: auto;
  cursor: pointer;
}

.modal-wrapper .modal .input {
  height: 70px;
  padding-left: 90px;
  padding-right: 20px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  border: 2px solid #242932;
}

.modal-wrapper .modal .input i {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #242932;
}

.modal-wrapper .modal .input input {
  width: 100%;
  height: 100%;
}

.modal-wrapper .modal input.custom {
  height: 60px;
  padding: 0 20px;
  width: 100%;
  border: 2px solid #242932;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-wrapper .modal textarea {
  border: 2px solid #242932;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.modal-wrapper .modal .go-send {
  display: flex;
  align-items: center;
}

.modal-wrapper .modal .go-send .rate {
  margin-right: auto;
}

.modal-wrapper .modal .go-send .rate p {
  padding: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.5s all;
  float: right;
}

.modal-wrapper .modal .go-send .rate p:first-child {
}

.modal-wrapper .modal .go-send .rate p:hover,
.modal-wrapper .modal .go-send .rate p:hover ~ p,
.modal-wrapper .modal .go-send .rate p.active {
  color: #ffba00;
}

.modal-wrapper .modal .select-img {
  color: #5a5f68;
  padding: 10px 15px;
  border: 2px solid #242932;
  background: rgb(32 36 44);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.25s all;
}

.modal-wrapper .modal .select-img:hover {
  background: #242932;
  color: #666e7e;
}

.modal-wrapper .modal .select-img i {
  margin-right: 10px;
  font-size: 16px;
}

.modal-wrapper .modal .uploaded_img {
  color: #5a5f68;
  margin-right: auto;
  margin-left: 10px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-wrapper .modal input[type="file"] {
  display: none;
}

.modal-wrapper .modal.tickets-views {
  width: 100%;
  margin-top: -50px;
}

.modal-wrapper .modal.tickets-views .ticket-view {
  display: none;
}

.modal-wrapper .modal.tickets-views .ticket-view.show {
  display: block;
}

.modal-wrapper .modal.tickets-views .ticket-view .info {
  background: #242932;
  padding: 20px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-wrapper .modal.tickets-views .ticket-view .info .title {
  font-size: 20px;
}

.modal-wrapper .modal.tickets-views .ticket-view .info .status-ticket {
  padding: 5px 8px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.modal-wrapper .modal.tickets-views .ticket-view .info .status-ticket.open,
.modal-wrapper .modal.tickets-views .ticket-view .info .status-ticket.solved {
  background: #0ddd25;
}

.modal-wrapper .modal.tickets-views .ticket-view .info .status-ticket.refused {
  background: #e01414;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat {
  overflow-y: auto;
  height: 450px;
  padding: 25px;
  background: #191d24;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #2a313c;
}

#canvas,
#text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg {
  background: #242932;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 40%;
  margin-left: auto;
  margin-bottom: 15px;
  display: table;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg.admin {
  margin-right: auto;
  margin-left: 0;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg.full {
  width: 40%;
  position: relative;
  padding-top: 260px;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background: #000;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg a {
  color: orange;
  text-decoration: underline;
}

.modal-wrapper .modal.tickets-views .ticket-view .chat .msg .date {
  font-size: 13px;
  color: #677081;
  margin-top: 5px;
  text-align: right;
}

.modal-wrapper .modal.tickets-views .ticket-view textarea {
  height: 80px;
  background: #242932;
  border: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-wrapper .modal.accept-email .description {
  margin-bottom: 20px;
  line-height: 1.5;
}

.modal-wrapper .modal.accept-email .description span {
  color: orange;
}

.modal-wrapper .modal.accept-email .inp {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

.modal-wrapper .modal.accept-email .warning {
  color: orange;
  font-weight: 600;
  margin-top: 20px;
}

.modal-wrapper .modal.accept-email .warning i {
  margin-right: 10px;
  font-size: 18px;
}

.modal-wrapper .modal.select-buy {
  max-width: 30% !important;
}

.modal-wrapper .modal.select-buy .blocks .left-block,
.modal-wrapper .modal.select-buy .blocks .right-block {
  width: 50%;
  padding: 25px;
  border-radius: 15px;
  background: #242932;
  display: flex;
  flex-direction: column;
}

.modal-wrapper .modal.select-buy .blocks .title-s {
  text-align: center;
}

.modal-wrapper .modal.select-buy .blocks .btn {
  text-align: center;
  margin-top: auto;
}

.modal-wrapper .modal.select-buy .blocks .left-block {
  margin-right: 25px;
}

.modal-wrapper .modal.select-buy .blocks .img {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal.select-buy .blocks .img img {
  width: 130px;
  object-fit: contain;
}

.modal-wrapper .modal.select-buy .blocks .left-block img {
  border-radius: 10px;
  width: 150px;
}

.modal-wrapper .modal.select-buy .blocks .right-block .img img {
  height: 130px;
  width: 100%;
}

.modal-wrapper .modal.send-review,
.modal-wrapper .modal.accept-email.cus {
  background: #1c1b20;
  border-color: #212127;
}

.modal-wrapper .modal.send-review .header,
.modal-wrapper .modal.accept-email.cus .header {
  background: #212127;
}

.modal-wrapper .modal.send-review .input i {
  background: #212127;
}

.modal-wrapper .modal.send-review .input,
.modal-wrapper .modal.accept-email.cus input,
.modal-wrapper .modal.send-review textarea {
  border-color: #212127;
}

.modal-wrapper .modal.send-review .btn {
  background: #00f260;
  background: -webkit-linear-gradient(to left, #ef8df8, #630256);
  background: linear-gradient(to left, #ef8df8, #630256);
}

/*==========================
          HEADER
==========================*/

header {
  position: relative;
  z-index: 999;
}

.header-bgc {
  background: rgba(65, 68, 70, 0.28);
}
.header-left,
.header-right {
  font-family: "Neometric";
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
}

header .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.header-content {
  background: #0e0e0e;
  height: 78px;
}

.header-nav__link {
  display: flex;
  align-items: center;
}

.header-nav__link svg {
  margin-right: 5px;
}

.gradient {
  background: linear-gradient(45deg, #0d61bc 33%, #0f78e9 66%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s all;
  cursor: pointer;
}

.gradient:hover {
  font-size: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo {
  font-family: "Neometric";
  padding-right: 25px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header-logo img {
  width: 39px;
  align-items: center;
  padding-right: 10px;
}

.header-logo:after {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.04);
}

.header-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 25px;
  grid-gap: 45px;
  height: 100%;
}

.header-nav li:hover {
  transform: 0.2s;
}

.header-nav li a:hover {
  color: #b2e0ee !important;
  transition-duration: 0.25s;
}

.header-nav li a {
  height: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #dadada;
  display: flex;
  align-items: center;
  transition-duration: 0.25s;
}

.underline-one {
  color: #00bfff;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: width 0.5s;
}
.underline-one:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(62, 63, 97);
  transition: width 0.5s;
}

.underline-one:hover {
  color: rgb(230, 181, 181);
  transition: width 0.5s;
}

.underline-one:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: rgb(71, 150, 187);
  transition: width 0.5s;
}

.gradient span {
  color: linear-gradient(124.78deg, #0d61bc, 20.49%, #8aa9d6 79.51%) !important;
}

.header-nav li.gradient a {
  background: linear-gradient(124.78deg, #0d61bc, 20.49%, #8aa9d6 79.51%);
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.25s;
}

.header-button {
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.header-button p {
  color: #848a9a;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.009em;
  margin-left: 10px;
}

.header-button span.disabled {
  opacity: 0.48;
  transition-duration: 0.25s;
}

.header-button span {
  transition-duration: 0.25s;
}

.header-right a {
  color: white;
  border-radius: 10px;
  border: solid 1px;
  padding: 10px 10px;
  font-size: 16px;
}

.header-right-btn {
  margin-right: 5px;
}

.header-right a:hover {
  color: #0f78e9 !important;
}

.header-right i:hover {
  color: #ef8df8 !important;
  transition: 0.25s;
}

header .navbar-nav .logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 22px;
  background: -webkit-linear-gradient(to left, #ef8df8, #630256);
  background: linear-gradient(to left, #ef8df8, #630256);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header .navbar-nav .logo img {
  width: 50px;
  align-items: center;
  padding-right: 10px;
}

header .navbar-nav .menu a {
  margin-right: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 14px;
  color: silver;
}

header .navbar-nav .menu a:last-child {
  margin-right: 0;
}

header .navbar-nav .contacts {
  margin-left: auto;
}

header .navbar-nav .contacts .btn-new-style {
  margin-right: 10px;
  color: #9fa4b0;
}

header .navbar-nav .contacts .btn-new-style:last-child {
  margin-right: 0;
}

header .navbar-nav .contacts .btn-new-style.outline::before,
header .navbar-nav .contacts .btn-new-style.outline::after {
  border-color: #9fa4b0;
}

header .navbar-nav .contacts .btn-new-style.alt.outline::before {
  border-left: 2px solid #9fa4b0;
}

header .navbar-nav .contacts .btn-new-style.outline:hover::before,
header .navbar-nav .contacts .btn-new-style.outline:hover::after {
  border-color: #fff;
}

header .navbar-nav .contacts .btn-new-style.alt.outline:hover::before {
  border-left: 2px solid #fff;
}

.fl.ai-c {
  align-items: center;
}

/*==========================
          MAIN
==========================*/

.main_bg {
  font-family: "Neometric";
  width: 100%;
  height: 100%;
  background: url(../img/rectangles2.png);
  background-repeat: repeat-x;
  position: relative;
  background-size: 1920px;
  background-position-y: 0;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: 0;
}

.main_wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 63px;
}

.d-flex {
  display: flex;
}
.main_bg-left {
  width: calc(50% - 50px);
}

.main_bg-left {
  width: calc(50% - 50px);
}

.main .main__wrapper .main__link {
  display: inline-block;
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.02em;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 24px 0;
  max-width: 500px;
}

.main__title,
.main__title_color {
  /* font-size: 72px; */
  font-size: 48px;
  display: inline-block;
  max-width: 950px;
}

.main__title_color {
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 110%;
  letter-spacing: -0.02em;
  background: linear-gradient(90deg, #0d4cff, #8aa9d6 96.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main__subtitle {
  display: inline-block;
  max-width: 700px;
  font-size: 20px;
}

.main__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: #9296a9;
  max-width: 635px;
}

.main_bg h1 {
  color: #fff;
  font-size: 30px;
  margin: 24px 0;
}

.main__discord {
  padding-top: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.015em;
  color: #c2c6d7;
  cursor: pointer;
}

.main__discord_wrapper {
  display: flex;
  background-color: #23242d;
  -webkit-box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
  box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
  border-radius: 91px;
  align-items: center;
  max-width: 400px;
  cursor: pointer;
  transition: 0.3s all;
}

.main__discord_wrapper {
  max-width: 385px;
  padding-right: 5px;
  padding: 5px 5px;
  min-width: auto;
  width: auto;
}

.search {
  padding-top: 3px;
}
.d-block {
  display: block;
}

.d-xl-flex {
  display: flex;
}

.main__discord_wrapper:hover {
  -webkit-box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
  -moz-box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
  box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
}

.main__discord_wrapper svg {
  margin-right: 5px;
}

.footer__image {
  width: 24px;
  height: 24px;
}

.main .main__wrapper .main__link .main__discord_wrapper {
  padding-right: 10px;
}

.main__button_search {
  background: #1b1b20;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);
  width: 280px;
  height: 43px;
  color: #c2c6d7;
  border-radius: 8px;
  text-align: left;
  transition-duration: 200ms;
  justify-content: left;
  cursor: pointer;
}

.main__button_search {
  display: flex;
  align-items: center;
  background-color: #23242d;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding-left: 15px;
}

.main__button_catalog {
  width: 250px;
  height: 43px;
  background-color: #3d75ca;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.015em;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  cursor: pointer;
  transition: 0.2s all;
}

.main__button_catalog:hover {
  background-color: #8cb4f0;
  -webkit-box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
  box-shadow: 3px 1px 22px 1px rgba(255, 255, 255, 0.53);
}

.main__button_catalog {
  width: auto;
  padding: 0 30px;
  min-width: unset;
}

.main__title,
.main__information {
  display: inline-block;
  max-width: 900px;
}

.main__information_wrapper {
  display: flex;
  margin-top: 20px;
}

.main__information_width {
  align-items: center;
  display: flex;
}

.main__information_logo-games {
  width: 46px;
  height: 46px;
  background-image: url(../img/main__logo_games.71145414.svg);
  background-repeat: no-repeat;
}

.main__information_logo-cheats {
  width: 46px;
  height: 46px;
  background-image: url(../img/main__logo_cheats.be7c2669.svg);
  background-repeat: no-repeat;
}

.main__information_logo-developers {
  background-image: url(../img/main__logo_developers.2d0504a3.svg);
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
}

.main__information_wrap {
  margin-left: 10px;
}

.main__information_width:nth-child(2) {
  margin: 0 36px;
}

.main__information_title {
  font-size: 24px;
  line-height: 18px;
  margin-bottom: 0;
}

.main__information_subtitle {
  margin-top: 5px;
  font-size: 19px;
}

.main__information_title {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.015em;
  color: #fff;
}

@media screen and (min-width: 1360px) {
  .main_bg-left,
  .main_bg-right {
    width: 50%;
  }
}

@media screen and (min-width: 1360px) {
  .main_bg-right img {
    max-width: calc(100% + 20px);
    display: block;
    position: relative;
    overflow: hidden;
  }
}

.info__sect {
  font-family: "Neometric";
}

.info__sect-text {
  font-size: 24px;
}

.info__sect-text h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.info__sect-det {
  text-align: justify;
  background: #6d6c6c2d;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 100px;
  webkit-box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
  -moz-box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
  box-shadow: 3px 1px 22px 1px rgba(112, 178, 240, 0.53);
}

.purp__wrapper h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.purp__sect-text {
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background: #3c3d3e50;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 16px -6px rgba(246, 250, 253, 0.2);
  -moz-box-shadow: 4px 4px 16px -6px rgba(246, 250, 253, 0.2);
  box-shadow: 4px 4px 16px -6px rgba(246, 250, 253, 0.2);
}

.purp__sect-text p {
  padding-left: 35px;
  font-size: 30px;
  text-align: justify;
  padding-right: 120px;
}

.purp__sect-text img {
  width: 10%;
  margin: 15px;
  border-radius: 20px;
}

.vl {
  border-left: 2px solid rgb(165 165 165);
  height: 100px;
  position: absolute;
  left: 84%;
  margin-left: -3px;
}

/*==========================
          TASK
==========================*/

.task__sect {
  margin-bottom: 300px;
}

.task__wrapper-h {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.task__wrapper h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.d-block,
h2 {
  color: #33475c;
  font-weight: 700;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

/* ============= Begin Testimonial Flexbox ============ */
#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 400px;
  height: 110vh;
  max-width: 1200px;
  margin: auto;
  background-color: #3c3d3e50;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#left-zone {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item input {
  display: none;
}

label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: right;
  padding-right: 30px;
  line-height: 50px;
  position: relative;
}

label:hover {
  opacity: 0.75;
  cursor: pointer;
}

.content-test {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 50%;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none;
}

.content-test p {
  text-align: justify;
  padding: 0 30px;
  font-size: 24px;
}

.content-test h1 {
  font-size: 35px;
}

#right-zone {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 50%;
}

input:checked ~ .content-test {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  opacity: 1;
}

@media (min-width: 480px) {
  #flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: auto;
    height: 600px;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #left-zone .list {
    border-right: 2px solid #cccccc;
  }

  .content-test {
    width: 65%;
    height: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  #left-zone {
    width: 35%;
  }

  #right-zone {
    height: 100%;
    width: 65%;
  }
}
/* If the screen size is 480px or less */
@media (max-width: 480px) {
  .content_testimonial-1 .picto {
    padding-top: 100px;
  }
  .content_testimonial-2 .picto {
    padding-top: 100px;
  }
  .content_testimonial-3 .picto {
    padding-top: 100px;
  }
  .content_testimonial-4 .picto {
    padding-top: 100px;
  }
  .item > label {
    font-size: 1.3rem;
  }
}

.content_testimonial-1 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://www.noviydom.ru/upload/images/statyi/dom_hi-tech/4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-1 h1 {
  color: #d64541;
  text-align: center;
}

.content_testimonial-2 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://sociologyclub.ru/upload/medialibrary/dc6/dc6bdd5914ddf0f8490bade831197e1b.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-2 h1 {
  color: #f5d76e;
}

.content_testimonial-3 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://espanarusa.com/files/autoupload/34/7/15/bsdrtc4f385219.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-3 h1 {
  color: #00b16a;
}

.content_testimonial-4 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://klining-nt.ru/sites/default/files/services/gallery-image31_20171027_1185948851.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-4 h1 {
  color: #f27935;
}

.content_testimonial-5 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://unipress.by/assets/images/new-catalog/1553118-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-5 h1 {
  color: #35adf2;
}

.content_testimonial-6 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://freelance.ru/img/portfolio/pics/00/27/8E/2592292.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-6 h1 {
  color: #35f2c3;
}

.content_testimonial-7 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://avatars.mds.yandex.net/i?id=eb0e20cac913ee51ffa8bd3f7471748f_l-5298869-images-thumbs&n=13");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-7 h1 {
  color: #095239;
}

.content_testimonial-8 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://cdn.culture.ru/images/abeb0060-e71a-5685-9a11-2d1dec27a613");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-8 h1 {
  color: #cc83d3;
}

.content_testimonial-9 .picto {
  height: 280px;
  border-radius: 30px;
  width: 350px;
  background-image: url("https://avatars.mds.yandex.net/i?id=32deb01074ba1a098cd37f6fa3f9b2b0_l-5312502-images-thumbs&n=13");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_testimonial-9 h1 {
  color: #743e3e;
}

.content-test h1:first-letter {
  text-transform: uppercase;
}

input:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked ~ label.label_testimonial-1 {
  color: #d64541;
  border-right: solid 4px #d64541;
}

input:checked ~ label.label_testimonial-2 {
  color: #f5d76e;
  border-right: solid 4px #f5d76e;
}

input:checked ~ label.label_testimonial-3 {
  color: #00b16a;
  border-right: solid 4px #00b16a;
}

input:checked ~ label.label_testimonial-4 {
  color: #f27935;
  border-right: solid 4px #f27935;
}

input:checked ~ label.label_testimonial-5 {
  color: #35adf2;
  border-right: solid 4px #35d6f2;
}

input:checked ~ label.label_testimonial-6 {
  color: #35f2c3;
  border-right: solid 4px #35f2c3;
}

input:checked ~ label.label_testimonial-7 {
  color: #095239;
  border-right: solid 4px #095239;
}

input:checked ~ label.label_testimonial-8 {
  color: #cc83d3;
  border-right: solid 4px #cc83d3;
}

input:checked ~ label.label_testimonial-9 {
  color: #743e3e;
  border-right: solid 4px #743e3e;
}

label.label_testimonial-1:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://www.noviydom.ru/upload/images/statyi/dom_hi-tech/4.jpg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-2:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://sociologyclub.ru/upload/medialibrary/dc6/dc6bdd5914ddf0f8490bade831197e1b.png");
  background-position: center;
  background-size: 75% 75%;
  border-radius: 50%;
  background-repeat: no-repeat;
}

label.label_testimonial-3:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://espanarusa.com/files/autoupload/34/7/15/bsdrtc4f385219.jpg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-4:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://klining-nt.ru/sites/default/files/services/gallery-image31_20171027_1185948851.jpg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-5:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://unipress.by/assets/images/new-catalog/1553118-4.jpg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-6:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://freelance.ru/img/portfolio/pics/00/27/8E/2592292.jpg");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-7:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://avatars.mds.yandex.net/i?id=eb0e20cac913ee51ffa8bd3f7471748f_l-5298869-images-thumbs&n=13");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-8:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://cdn.culture.ru/images/abeb0060-e71a-5685-9a11-2d1dec27a613");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label.label_testimonial-9:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://avatars.mds.yandex.net/i?id=32deb01074ba1a098cd37f6fa3f9b2b0_l-5312502-images-thumbs&n=13");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

label:first-letter {
  text-transform: uppercase;
}

.label_testimonial-1:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#d64541a3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #d64541a3);
  background-image: -o-linear-gradient(left, #ffffff, #d64541a3);
  background-image: linear-gradient(to right, #ffffff, #d64541a3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-2:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#f5d76e59)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #f5d76e59);
  background-image: -o-linear-gradient(left, #ffffff, #f5d76e59);
  background-image: linear-gradient(to right, #ffffff, #f5d76e59);
  font-size: 18px;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-3:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#00b16aa3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #00b16aa3);
  background-image: -o-linear-gradient(left, #ffffff, #00b16aa3);
  background-image: linear-gradient(to right, #ffffff, #00b16aa3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-4:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#f27935a3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #f27935a3);
  background-image: -o-linear-gradient(left, #ffffff, #f27935a3);
  background-image: linear-gradient(to right, #ffffff, #f27935a3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-5:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#35d6f2)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #35d6f2);
  background-image: -o-linear-gradient(left, #ffffff, #35d6f2);
  background-image: linear-gradient(to right, #ffffff, #35d6f2);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-6:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#35f2c3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #35f2c3);
  background-image: -o-linear-gradient(left, #ffffff, #35f2c3);
  background-image: linear-gradient(to right, #ffffff, #35f2c3);
  font-size: 18px;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-7:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#095239)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #095239);
  background-image: -o-linear-gradient(left, #ffffff, #095239);
  background-image: linear-gradient(to right, #ffffff, #095239);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-8:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#cc83d3)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #cc83d3);
  background-image: -o-linear-gradient(left, #ffffff, #cc83d3);
  background-image: linear-gradient(to right, #ffffff, #cc83d3);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-9:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#743e3e)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #743e3e);
  background-image: -o-linear-gradient(left, #ffffff, #743e3e);
  background-image: linear-gradient(to right, #ffffff, #743e3e);
  font-size: 1.2rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

p.testimonialState {
  margin-top: -5px;
  font-size: 0.8rem;
  font-style: italic;
  color: #808080d4;
}

p.testimonialFrom {
  margin-top: 5px;
  font-weight: bold;
  color: #33475c;
}
/* ============== End Testimonial Flexbox ============= */
